<a href="https://colab.research.google.com/github/camoragaq/python-uoh/blob/main/clase_18_04_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Diccionarios en Python

In [1]:
#un diccionario se encierra entre llaves {}, con un ":" para definir la asociación, seguido de comas 

auto = {'color': 'azul', 'marca': 'mini', 'año':2006}
print(auto)

{'color': 'azul', 'marca': 'mini', 'año': 2006}

In [14]:
# acceso a un valor en un diccionario

auto = {'color': 'azul', 'marca': 'mini', 'año':2006}
print(auto['color'])
print("Tu auto es de color " +  auto['color'] + ' marca\t ' +  auto['marca'] + ' año '  + str(auto['año']) )

azul
Tu auto es de color azul marca	 mini año 2006

In [7]:
#agregar una nueva llave  
auto = {'color': 'azul', 'marca': 'mini', 'año':2010}
print(auto)
auto['dueña'] = 'carol moraga'
auto['patente'] = 'RGTH77'
auto['puertas'] = 3
print(auto)

{'color': 'azul', 'marca': 'mini', 'año': 2010}
{'color': 'azul', 'marca': 'mini', 'año': 2010, 'dueña': 'carol moraga', 'patente': 'RGTH77', 'puertas': 3}

In [7]:
#agregar llave partiendo de un diccionario vacío
auto = {}
print(auto)
auto['color'] = 'azul'
auto['año'] = 2006
print(auto)

{}
{'color': 'azul', 'año': 2006}

In [1]:
#modificar valores en un diccionario 
auto = {'color': 'azul', 'marca': 'mini', 'año':2010}
print("El auto es " + auto['color'])
auto['color'] = 'rojo'
print("El auto ahora es " + auto['color'])

El auto es azul
El auto ahora es rojo

In [2]:
#eliminar llave y su valor 
auto = {'color': 'azul', 'marca': 'mini', 'año':2010}
print(auto)
del auto['color']
print(auto)

{'color': 'azul', 'marca': 'mini', 'año': 2010}
{'marca': 'mini', 'año': 2010}

In [8]:
#diccionarios de objetos similares
alumnos_ciudad = {'carol': 'talca',
                  'manuel': 'rancagua',
                  'francisca': 'santiago',
                  'fernanda': 'curico',
                  'javier': 'rancagua'}
print(alumnos_ciudad)
print('la ciudad de Carol es ' + alumnos_ciudad['carol'].title())

{'carol': 'talca', 'manuel': 'rancagua', 'francisca': 'santiago', 'fernanda': 'curico', 'javier': 'rancagua'}
la ciudad de Carol es Talca

In [8]:
#mezclando listas y diccionarios
#de listas a diccionarios
auto_1 = {'color': 'azul', 'marca': 'mini', 'año':2010}
auto_2 = {'color': 'rojo', 'marca': 'mazda', 'año':2012}
auto_3 = {'color': 'gris', 'marca': 'suzuki', 'año':2011}
catalogo_autos = [auto_1, auto_2, auto_3]
print(catalogo_autos[0])
#como accedemos a una llave:valor del diccionario dentro de una lista
print(catalogo_autos[0]['marca'])
print(catalogo_autos[1]['marca'])
print(catalogo_autos[2]['marca'])

catalogo_autos[2]['año']=2020
print(catalogo_autos[2])

{'color': 'azul', 'marca': 'mini', 'año': 2010}
mini
mazda
suzuki
{'color': 'gris', 'marca': 'suzuki', 'año': 2020}

In [9]:
#como usar listas dentro de un diccionario
#de diccionario a listas
alumnos_ciudad = {'carol': ['talca','iquique','santiago','lyon'],
                  'manuel': ['rancagua'],
                  'francisca': ['santiago','rancagua'],
                  'fernanda': ['curico','rancagua','madrid'],
                  'javier': ['rancagua']}
#print(alumnos_ciudad)
#print('las ciudades de Carol son ' , alumnos_ciudad['carol'])
#print('las ciudades de Carol son ' , ", ".join(alumnos_ciudad['carol']), '.')
#como acceder a un valor de la lista dentro del diccionario
print(alumnos_ciudad['fernanda'][2])
print(alumnos_ciudad['javier'][0])
del alumnos_ciudad['carol'][3]
print(alumnos_ciudad['carol'])

madrid
rancagua
['talca', 'iquique', 'santiago']

#Tuplas en python

In [15]:
#definiendo una tupla
edades = (20, 19, 18, 21)
print(edades[0])
print(edades[1])
#que pasa si queremos modificar un valor dentro de una tupla, nos dará error, no es posible hacerlo
#edades[0] = 100

20
19

In [12]:
#sobreescribir un valor dentro de una tupla
edades = (20, 19, 18, 21)
print("Edades alumnos:")
for edades in edades:
    print(edades)
    
edades = (40, 30, 35)
print("\nEdades modificadas:")
for edades in edades:
    print(edades)

Edades alumnos:
20
19
18
21

Edades modificadas:
40
30
35